{% extends "core/base.html" %}
{% load static %}

{% block title %}SportsHunt{% endblock title %}

{% block imports_block %}
<link rel="stylesheet" href="{% static 'css/core/pages/index.css' %}">
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
{% endblock imports_block %}

{% block header %}
<header>
    <a href="{% url 'core:index' %}" class="logo">SportsHunt</a>
    <div class="motto">Find and Book the Best Sports Turfs</div>
    <div class="auth-section">
        <a href="{% url 'core:login' %}" class="login-button">Login</a>
        <i class="fas fa-user-circle profile-icon"></i>
    </div>
</header>
{% endblock header %}

{% block content %}
<main>
    <h1>Venues</h1>
    <div class="turf-grid">
      {% for venue in venues %}
      <div class="turf-card">
        <a href="{% url 'core:venue' venue.id %}" class="view-details"><h2>{{ venue.name }}</h2></a>
      </div>
      {% endfor %}
    </div>
  </main>
  
{% endblock content %}

{% block js_imports %}
{% endblock js_imports %}
