{% extends "core/base.html" %}
{% load static %}

{% block title %}SportsHunt{% endblock title %}

{% block imports_block %}
<link rel="stylesheet" href="{% static 'css/core/pages/index.css' %}">
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
{% endblock imports_block %}

{% block header %}
<header>
    <a href="{% url 'core:index' %}" class="logo">SportsHunt</a>
    <div class="motto">Find and Book the Best Sports Turfs</div>
    <div class="auth-section">
        <a href="{% url 'core:login' %}" class="login-button">Login</a>
        <i class="fas fa-user-circle profile-icon"></i>
    </div>
</header>
{% endblock header %}

{% block content %}
<main>
    <h1>Venues</h1>
    <div class="search-container">
      <input type="text" id="search-input" placeholder="Search venues...">
      <button type="button" id="search-button">
        <i class="fas fa-search"></i>
        Search
      </button>
    </div>
    <div class="turf-grid">
      {% for venue in venues %}
      <div class="turf-card">
      <a href="{% url 'core:venue' venue.id %}" class="view-details">
        <img src="https://picsum.photos/300/200" alt="{{ venue.name }}" class="venue-image">
        <h2>{{ venue.name }}</h2>
      </a>
      </div>
      {% endfor %}
    </div>
  </main>
  
{% endblock content %}

{% block js_imports %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const searchInput = document.getElementById("search-input");
      const searchButton = document.getElementById("search-button");
      const venueCards = document.querySelectorAll(".turf-card");
  
      function filterVenues() {
          const query = searchInput.value.toLowerCase();
          venueCards.forEach(card => {
              const venueName = card.querySelector("h2").textContent.toLowerCase();
              if (venueName.includes(query)) {
                  card.style.display = "block";
              } else {
                  card.style.display = "none";
              }
          });
      }
  
      searchButton.addEventListener("click", filterVenues);
      searchInput.addEventListener("keyup", filterVenues);
  });
  </script>
{% endblock js_imports %}
