{% extends 'host/base.html' %}

{% block title %}Turf Details{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ venue.name }}</h1>
    <h2>{{ turf.name }}</h2>
    <h3>Booked Slots</h3>
    <ul>
        {% for booking in bookings %}
        <li> {{ booking.user.username }} - {{ booking.get_start_time }} to {{ booking.get_end_time }}</li>
        {% empty %}
            <li>No slots booked.</li>
        {% endfor %}
    </ul>
</div>

<div class="offline-booking-form">
    <h3>Offline Booking</h3>
    <form id="offline-booking-form" method="post" action="{% url 'api:offline_slot_booking' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="start_time">Start Time:</label>
            <input type="datetime-local" id="start_date" name="start_date" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="duration">Duration (minutes):</label>
            <input type="number" id="duration" name="duration" min="30" step="30" value="30" class="form-control" required>
            <button type="button" id="increase-duration" class="btn btn-secondary">Increase Duration</button>
        </div>
        <button type="submit" class="btn btn-primary">Book Offline</button>
    </form>
</div>
{% endblock content %}

{% block js_imports %}
<script>
document.getElementById('increase-duration').addEventListener('click', function() {
    var durationInput = document.getElementById('duration');
    var currentDuration = parseInt(durationInput.value);
    durationInput.value = currentDuration + 30;
});

document.getElementById('offline-booking-form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    var start_time = document.getElementById('start_date').value;
    var duration = document.getElementById('duration').value;
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    fetch("{% url 'api:offline_slot_booking' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify({
            start_time: start_time,
            duration: duration,
            turf_id: '{{ turf.id }}',
            venue_id: '{{ venue.id }}'
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert('Booking successful!');
            location.reload(); // Refresh the page to show the updated booked slots
        } else if (data.errors) {
            alert('Booking failed: ' + data.errors.join(', '));
        } else if (data.status === 'booked') {
            alert('The slot is already booked.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Booking failed!');
    });
});
</script>
{% endblock js_imports %}


